.container-c{
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.buttons-div{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
}

.disp-none{
  display: none;
}